{% load staticfiles %}
{% load i18n %}
{% load l10n %}
<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block head_title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'static/Initializr/favicon.ico'%}" type="image/x-icon">
    <meta name="description" content="Automation System Application">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'static/Initializr/css/bootstrap.min.css'%}">
    <style>
            body {
                padding-top: 0px;
                padding-bottom: 0px;
            }
    </style>
    <link rel="stylesheet" href="{% static 'static/Initializr/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'static/Initializr/css/main.css' %}">
    <script src="{% static 'static/Initializr/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
    <script src="{% static 'static/Utils/js-cookie.js' %}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    {% block css_src %}{% endblock %}
    {% block javascript_head %}{% endblock %}
</head>
<body>
{%block main%}
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
{% block navigation_component %}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right" role="form">
                <div class="form-group">
                    <input type="text" placeholder="Email" class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Sign in</button>
            </form>
        </div><!--/.navbar-collapse -->
    </div>
</nav>
{% endblock %}

{% block content %}
{% endblock %}
{% block footer_component %}
<div class="container">
    <hr>
    <footer>
        <div>
            <p>&copy; Company 2017 Minh Hoang</p>
            <p>{{today}}</p>
        </div>
    </footer>
</div>
{% endblock %}
{%endblock%}
</body>
<script src="{% static 'static/Initializr/js/vendor/bootstrap.min.js' %}"></script>
<script src="{% static 'static/Initializr/js/plugins.js' %}"></script>
<script src="{% static 'static/Initializr/js/main.js' %}"></script>
{% block javascript_end %}{% endblock %}
</html>
